.title {
  text-align: center;
  color: white;
  margin-bottom: 2em;
}

.book .title h1 {
  font-size: 43pt;
  text-shadow: 0px 2px 3px #000;
  margin-bottom: 0em;
}

.book .title h2 {
  font-size: 22pt;
  text-shadow: 0px 2px 3px #000;
}
